<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="../assets/img/profile192x192.jpg" class="img-circle" title="Avatar" alt="My Avatar">
                <h4>{{ site.data.author.name }}</h4>
                <p>{{ site.data.author.title }}</p>
                <p class="muted">{{ site.data.author.address }}</p>
                <p class="muted">{{ site.data.author.email }} </p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6">
                <h4>Welcome!</h4>
                <p>If you have made it to this little corner of the internet you either got lost, or you are looking to possibly hire or interview me. If you are either for the former, sorry, and I hope that find your way to where ever it is that you were trying to go. If it's the latter, then yay! You got to the right place!  </p>
                <p>Hopefully the following information can give a little more insight into who I am and what I have been up to professionally the last few years. I look forward to talking with you.</p>
                <!--<a href="#" class="btn btn-dark"><i class="icon-file icon-white"></i> Download.pdf</a>-->
            </div>
        </div>
    </div>
</div>